<mat-tab-group>
    <mat-tab label="HSK 1">
      <div class="card-container">
        <app-hanzi-component></app-hanzi-component>
      </div>
      <div>stuff</div>
    </mat-tab>
    <mat-tab label="HSK 2">
      <div>stuff</div>
      <!-- <div class="card-container">
        <app-hanzi-card *ngFor="let character of hsk2Characters" [character]="character"></app-hanzi-card>
      </div> -->
    </mat-tab>
    <mat-tab label="HSK 3">
        <div>stuff</div>
        <!-- <div class="card-container">
          <app-hanzi-card *ngFor="let character of hsk3Characters" [character]="character"></app-hanzi-card>
        </div> -->
      </mat-tab>
    <!-- More HSK level tabs -->
  </mat-tab-group>