# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node modules (for both API and Frontend)
node_modules/
api/node_modules/
front/node_modules/

# Build outputs
api/dist/
front/dist/

# Angular cache & build files
/.angular/cache

# Logs
npm-debug.log
yarn-error.log
**/*.log

# Ignore environment files (security reasons)
api/.env
api/environment.env
front/.env
!.env.example  # Allow tracking an example env file

# Ignore frontend source maps (optional)
front/*.map

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/

# System files
.DS_Store
Thumbs.db
