<!-- <mat-card class="character-card">
  <div class="character">{{ character }}</div>
  <div class="pinyin">{{ pinyin }}</div>
  <div class="definition">{{ definition }}</div>
</mat-card> -->

<mat-tab-group>
  <mat-tab label="HSK 1">
    <!-- <div class="card-container">
      <app-hanzi-card *ngFor="let character of hsk1Characters" [character]="character"></app-hanzi-card>
    </div> -->
    <div>stuff</div>
  </mat-tab>
  <mat-tab label="HSK 2">
    <div>stuff</div>
    <!-- <div class="card-container">
      <app-hanzi-card *ngFor="let character of hsk2Characters" [character]="character"></app-hanzi-card>
    </div> -->
  </mat-tab>
  <!-- More HSK level tabs -->
</mat-tab-group>